{% extends 'base.html.twig' %}

{% block title %}Edit ListEntity{% endblock %}

{% block body %}
    <h1>Edit ListEntity</h1>

    {{ include('list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('list_index') }}">back to list</a>

    {{ include('list/_delete_form.html.twig') }}
{% endblock %}
